<div>
    <h2 id="page-heading">
        <span jhiTranslate="seekApp.cuisine.home.title">Cuisines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cuisine" [routerLink]="['/cuisine/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="seekApp.cuisine.home.createLabel">
            Create new Cuisine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cuisines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="seekApp.cuisine.name">Name</span></th>
            <th><span jhiTranslate="seekApp.cuisine.restaurant">Restaurant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cuisine of cuisines ;trackBy: trackId">
                <td><a [routerLink]="['/cuisine', cuisine.id, 'view' ]">{{cuisine.id}}</a></td>
                <td>{{cuisine.name}}</td>
                <td>
                    <div *ngIf="cuisine.restaurant">
                        <a [routerLink]="['../restaurant', cuisine.restaurant?.id, 'view' ]" >{{cuisine.restaurant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cuisine', cuisine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cuisine', cuisine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cuisine/'+ cuisine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
