<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="location">
            <h2><span jhiTranslate="seekApp.location.detail.title">Location</span> {{location.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="seekApp.location.streetAddr">Street Addr</span></dt>
                <dd>
                    <span>{{location.streetAddr}}</span>
                </dd>
                <dt><span jhiTranslate="seekApp.location.district">District</span></dt>
                <dd>
                    <div *ngIf="location.district">
                        <a [routerLink]="['/district', location.district?.id, 'view']">{{location.district?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location', location.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
