<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bonus-pool-heading" jhiTranslate="seekApp.bonusPool.home.createOrEditLabel">Create or edit a Bonus Pool</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bonusPool.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bonusPool.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.bonusPool.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="bonusPool.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.bonusPool.used" for="field_used">Used</label>
                    <input type="number" class="form-control" name="used" id="field_used"
                        [(ngModel)]="bonusPool.used" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.bonusPool.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                        [(ngModel)]="bonusPool.total" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
