<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentAdmin">
            <h2><span jhiTranslate="seekApp.agentAdmin.detail.title">Agent Admin</span> {{agentAdmin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="seekApp.agentAdmin.user">User</span></dt>
                <dd>
                    <div *ngIf="agentAdmin.user">
                        <a [routerLink]="['/user-extra', agentAdmin.user?.id, 'view']">{{agentAdmin.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-admin', agentAdmin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
