<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restauranteur">
            <h2><span jhiTranslate="seekApp.restauranteur.detail.title">Restauranteur</span> {{restauranteur.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="seekApp.restauranteur.user">User</span></dt>
                <dd>
                    <div *ngIf="restauranteur.user">
                        <a [routerLink]="['/user-extra', restauranteur.user?.id, 'view']">{{restauranteur.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restauranteur', restauranteur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
