<div>
    <h2 id="page-heading">
        <span jhiTranslate="seekApp.mealOrderItem.home.title">Meal Order Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meal-order-item" [routerLink]="['/meal-order-item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="seekApp.mealOrderItem.home.createLabel">
            Create new Meal Order Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mealOrderItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="seekApp.mealOrderItem.amount">Amount</span></th>
            <th><span jhiTranslate="seekApp.mealOrderItem.dish">Dish</span></th>
            <th><span jhiTranslate="seekApp.mealOrderItem.order">Order</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mealOrderItem of mealOrderItems ;trackBy: trackId">
                <td><a [routerLink]="['/meal-order-item', mealOrderItem.id, 'view' ]">{{mealOrderItem.id}}</a></td>
                <td>{{mealOrderItem.amount}}</td>
                <td>
                    <div *ngIf="mealOrderItem.dish">
                        <a [routerLink]="['../dish', mealOrderItem.dish?.id, 'view' ]" >{{mealOrderItem.dish?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mealOrderItem.order">
                        <a [routerLink]="['../meal-order', mealOrderItem.order?.id, 'view' ]" >{{mealOrderItem.order?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/meal-order-item', mealOrderItem.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meal-order-item', mealOrderItem.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meal-order-item/'+ mealOrderItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
