<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-meal-order-item-heading" jhiTranslate="seekApp.mealOrderItem.home.createOrEditLabel">Create or edit a Meal Order Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!mealOrderItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="mealOrderItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.mealOrderItem.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="mealOrderItem.amount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.mealOrderItem.dish" for="field_dish">Dish</label>
                    <select class="form-control" id="field_dish" name="dish" [(ngModel)]="mealOrderItem.dish">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dishOption.id === mealOrderItem.dish?.id ? mealOrderItem.dish : dishOption" *ngFor="let dishOption of dishes; trackBy: trackDishById">{{dishOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.mealOrderItem.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" [(ngModel)]="mealOrderItem.order" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mealOrderOption.id === mealOrderItem.order?.id ? mealOrderItem.order : mealOrderOption" *ngFor="let mealOrderOption of mealorders; trackBy: trackMealOrderById">{{mealOrderOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
