<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-bonus-heading" jhiTranslate="seekApp.bonus.home.createOrEditLabel">Create or edit a Bonus</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!bonus.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="bonus.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.bonus.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="bonus.amount" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.bonus.order" for="field_order">Order</label>
                    <select class="form-control" id="field_order" name="order" [(ngModel)]="bonus.order">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mealOrderOption.id === bonus.order?.id ? bonus.order : mealOrderOption" *ngFor="let mealOrderOption of orders; trackBy: trackMealOrderById">{{mealOrderOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="seekApp.bonus.customer" for="field_customer">Customer</label>
                    <select class="form-control" id="field_customer" name="customer" [(ngModel)]="bonus.customer" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="customerOption.id === bonus.customer?.id ? bonus.customer : customerOption" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
