<div>
    <h2 id="page-heading">
        <span jhiTranslate="seekApp.bonus.home.title">Bonuses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bonus" [routerLink]="['/bonus/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="seekApp.bonus.home.createLabel">
            Create new Bonus
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bonuses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="seekApp.bonus.amount">Amount</span></th>
            <th><span jhiTranslate="seekApp.bonus.order">Order</span></th>
            <th><span jhiTranslate="seekApp.bonus.customer">Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bonus of bonuses ;trackBy: trackId">
                <td><a [routerLink]="['/bonus', bonus.id, 'view' ]">{{bonus.id}}</a></td>
                <td>{{bonus.amount}}</td>
                <td>
                    <div *ngIf="bonus.order">
                        <a [routerLink]="['../meal-order', bonus.order?.id, 'view' ]" >{{bonus.order?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bonus.customer">
                        <a [routerLink]="['../customer', bonus.customer?.id, 'view' ]" >{{bonus.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bonus', bonus.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bonus', bonus.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bonus/'+ bonus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
