<div>
    <h2 id="page-heading">
        <span jhiTranslate="seekApp.mealTable.home.title">Meal Tables</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-meal-table" [routerLink]="['/meal-table/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="seekApp.mealTable.home.createLabel">
            Create new Meal Table
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mealTables">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="seekApp.mealTable.type">Type</span></th>
            <th><span jhiTranslate="seekApp.mealTable.status">Status</span></th>
            <th><span jhiTranslate="seekApp.mealTable.restaurant">Restaurant</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mealTable of mealTables ;trackBy: trackId">
                <td><a [routerLink]="['/meal-table', mealTable.id, 'view' ]">{{mealTable.id}}</a></td>
                <td jhiTranslate="{{'seekApp.TableType.' + mealTable.type}}">{{mealTable.type}}</td>
                <td jhiTranslate="{{'seekApp.TableStatus.' + mealTable.status}}">{{mealTable.status}}</td>
                <td>
                    <div *ngIf="mealTable.restaurant">
                        <a [routerLink]="['../restaurant', mealTable.restaurant?.id, 'view' ]" >{{mealTable.restaurant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/meal-table', mealTable.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/meal-table', mealTable.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meal-table/'+ mealTable.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
